<p class="message">Vous avez besoin ? </p>

<c-row [gutter]="{g: 3}" [md]="5" [xs]="1">
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
        <!-- <p>Légumes & Fruits</p> -->
        <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
      </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
         <c-badge class="ms-2 float-end" color="danger">-</c-badge>
        <h6 cCardTitle>10,95DH</h6>

        
      </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
        </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
        </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
        </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
        </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
        </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
        </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
        </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
        </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
        </c-card-body>
       
    </c-card>
  </c-col>
  <c-col>
    <c-card>
      <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
      <c-card-body>
          <!-- <p>Légumes & Fruits</p> -->
         <c-badge class="ms-2 float-end" color="success">+</c-badge>
        <h6 cCardTitle>10,95MAD</h6>
        </c-card-body>
       
    </c-card>
  </c-col>
</c-row>


<ng-template #imgPlaceholderTemplate let-orientation>
  <svg
    [cCardImg]="orientation ?? 'top'"
    aria-label="Placeholder: Image cap"
    class="docs-placeholder-img"
    focusable="false"
    height="180"
    preserveAspectRatio="xMidYMid slice"
    role="img"
    width="100%"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>Placeholder</title>
    <rect fill="#868e96" height="100%" width="100%"></rect>
    <text dominant-baseline="middle" dy=".3em" fill="#dee2e6" text-anchor="middle" x="50%" y="50%">Image cap</text>
    <image href="https://img2.freepng.fr/20180920/iqx/kisspng-vegetable-fruit-basket-food-puzzles-games-for-kids-5ba33f1b990cb3.1502553715374251796269.jpg" height="100%" width="100%" preserveAspectRatio="xMidYMid slice"></image>
  </svg>
</ng-template>
