
<p class="welcome-message" >Everything you need to in one place</p>
<p class="sous-welcome-message">Trusted by millions of businesses worldwide</p>
<!-- List -->

<table 
  [hover]="true"
  [responsive]="true"
  [striped]="true"
  cTable
  class="mb-0 border ">

  <thead cTableColor="light">
    <tr>
      <th class="text-center">
        <svg cIcon name="cilBasket"></svg>
      </th>
      <th>Market</th>
      <th class="text-center">Location</th>
      <th class="text-center">Working Hours</th>
      <th class="text-center">Status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users; index as i">
      <td class="text-center">
        <c-avatar
          size="md"
          src="{{ user.avatar }}"
        ></c-avatar>
      </td>

      <td>
        <div>{{ user.name }}</div>
        <div class="small text-medium-emphasis text-nowrap">
          <span>
            Registered: {{ user.registered }}
          </span>
        </div>
      </td>

      <td class="text-center">
        <c-avatar
          size="md"
          src="./assets/img/avatars/pin1.jpg"
        ></c-avatar>
      </td>

      <td>
        <div class="d-flex justify-content-between">
          <div class="float-end ms-1 text-nowrap">
            <small class="text-medium-emphasis">
              {{ user.period }}
            </small>
          </div>
        </div>
      
      </td>

      <td class="text-center">
        <button cButton color={{user.status}} shape="rounded-pill">{{user.status1 }}</button>
      </td>
    
      <td class="text-center">
       <a href="#/base/cards"> <button cButton color=secondary>Go</button></a> 
      </td>

    </tr>
  </tbody>
</table>
